<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data dari {{ table_name }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/display.css') }}"
    />
  </head>
  <body>
    <h1>Data dari Tabel: {{ table_name }}</h1>
    <table border="1">
      <thead>
        <tr>
          {% for column in columns %}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in results %}
        <tr>
          {% for column in columns %}
          <td>{{ row[column] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
